<html>
  <body>
    <h1>Simple Example</h1>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/profile'>View Profile</a></li>
      <li><a href="https://github.com/login/oauth/authorize?scope=user:email,repo&client_id=<%= client_id %>">Sign in</a></li>
    </ul>
    <div>
      <%= yield %>
    </div>
  </body>
</html>


